/WS_Musica_Envios/nbproject/private/
/WS_Musica_Envios/build/
/WS_Musica_Envios/dist/
/WS_Musica_Pedidos/nbproject/private/
/WS_Musica_Pedidos/dist/
/WS_Musica_Pedidos/build/
/WS_Musica_Credito/nbproject/private/
/WS_Musica_Credito/dist/
/WS_Musica_Credito/build/
/POJO_Envio/nbproject/private/
/POJO_Envio/build/
/POJO_Envio/dist/
/POJO_Pedidos/nbproject/private/
/POJO_Pedidos/build/
/POJO_Pedidos/dist/
/POJO_Credito/build/
/POJO_Credito/dist/
/POJO_Credito/nbproject/private/
.DS_Store
